<div class="second-page">
    <div class="cards">
      <div class="right-card">
        <div class="card">
          <img src="../../../assets/images/Get Paid Instantly.png" alt="" />
          <h4>Quick cash disbursement</h4>
          <p>
            Get terms loans that your business need <br />
            within 72 hrs
          </p>
        </div>
        <div class="card1">
          <img src="../../../assets/images/Low interest rate.png" alt="" />
          <h4>Low-interest rate</h4>
          <p>
            Achieve your financial goal with an <br />
            amazing interest rate starting at 13% per <br />anum
          </p>
        </div>
        <div class="card1">
          <img src="../../../assets/images/Secure Payments@2x.png" alt="" />
          <h4>Zero Paperwork</h4>
          <p>
            get started instantly by submitting only <br />
            your basic details & bank statements
          </p>
        </div>
      </div>
  
             <!-- Left Side Card -->
  
      <div class="left-card">
        <div class="color-card">
          <img
            src="../../../assets/images/freelancer_feature_icon_6@1.5x.png"
            alt=""
          />
          <h4>Ace your business finance</h4>
          <p>
            Manage banking,accounting & everything<br />
            in between, on one platfrom
          </p>
        </div>
        <div class="card1">
          <img src="../../../assets/images/Covid.png" alt="" />
          <h4>Loans to fight Covid-19</h4>
          <p>
            Zero EMI for first three months on Back-to-<br />
            Business loans of upto 1 lakh
          </p>
        </div>
      </div>
    </div>
  
                <!-- Text And Button -->
  
    <div class="text-button">
      <div class="text">
        <h1>Boost your business<br />with Open</h1>
        <div class="line"></div>
        <div class="small-text">
          <p>
            Get your hands on a term loan that's<br />
            crafted for your business
          </p>
        </div>
        <div class="button1">
          <a class="button" href="#">Get an Open Account</a>
        </div>
      </div>
    </div>
  </div>
  
